<div class="navbar" id="navbar">
	<div class="navbar-container">
		{% for item in site.data.navbar-links %}
			{% if item.dropdown %}
				<div class="nav-dropdown">
					<button class="nav-dropbtn" onclick="location.href = '{{ item.url }}';">{{ item.name  | upcase }}<span class="material-icons auto-size">arrow_drop_down</span></button>
					<div class="nav-dropdown-content">
						{% for subitem in item.hover-links %}
							<a href="{{ subitem.url }}">{{ subitem.name  | upcase }}</a>
						{% endfor %}
					</div>
				</div>
			{% else %}
				<a href="{{ item.url }}">{{ item.name  | upcase }}</a>
			{% endif %}
		{% endfor %}
		<a class="mobile-bars" href="javascript:void(0);" onclick="topNavMobile()"><span class="material-icons">menu</span></a>
	</div>
</div>